p.footer {
	text-align:center;
	font-size:1.5em;
}

#nameBanner {
	text-align:center;
	font-size:3em;
	font-family:Courier;
}

a.header {
	font-size:1.5em;
	margin-left:40px;
}

a.header:visited {
	color:orange;
}

a.header:hover {
	font-weight:bold;
}

a:active {
	text-decoration:none;
}

sup {
	font-size:.5em;
}

#beverages {
	margin:auto;
}

#beverages td {
	padding:5px;
}