p.footer {
	text-align:center;
	font-size:1.5em;
}

#nameBanner {
	text-align:center;
	font-size:3em;
	font-family:Courier;
}

a.header {
	font-size:1.5em;
	margin-left:40px;
}

sup {
	font-size:.5em;
}